<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Add these camera and storage permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChargingStation">
        <activity
            android:name=".activites.SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChargingStation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.UserInfo"
            android:exported="false"
            android:label="@string/title_activity_user_info"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.LoginPage"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.FullscreenImageActivity"
            android:exported="false"
            android:label="@string/title_activity_fullscreen_image"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.DetailPage"
            android:exported="false"
            android:label="@string/title_activity_detail_page"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.Station1"
            android:exported="false"
            android:label="@string/title_activity_station1"
            android:theme="@style/Theme.ChargingStation" />
        <activity
            android:name=".activites.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChargingStation">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>